body {
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

#headsite {
    text-align: center;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 40px;
    gap: 26px;
    width: 300px;
    margin: 30px auto;
}